<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Home Page</title>
</head>
<body>
	<nav>
			<a href="">Home</a>
			<a href="">About</a>
			<a href="">Contact</a>
			<a href="">Login</a>
			<a href="">Register</a>
	</nav>
	<div>
		<form>
			<input type="text" name="username"><span>Username</span>
			<input type="password" name="password">password</span>
			<input type="submit" name="login">Login</span>
		</form>
	</div>
	<script type="text/javascript">
		const button = document.getElementsByName("login")

		const handleLogin = async () => {
		const username = document.getElementsByName("username").value
		const password = document.getElementsByName("password").value

		try{
		
		const res = await fetch('http://localhost:3500/auth/',
			{
				method:'POST',
				headers:{'Content-Type':'application/json'},
				credentials:'include',
				body:JSON.stringify({username,password})
			});

		if(!res.ok){
			throw new Error(`${res.status} ${res.statusText}`)
		}
		
		return await res.json()
	}
	catch(error){
		console.log(error.stack)
	}
	}
	button.onclick=()=>handleLogin()
	</script>

</body>
</html>